@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

*{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('https://mobimg.b-cdn.net/v3/fetch/70/700259da965f28331a5ed087e3d1f4cb.jpeg');
}