.form-info {
    color: #fff;
    background-color: rgba(236, 0, 0, 0.5);
    padding: 35px;
    text-align: center;
}

.user-list {
    color: #fff;
    background-color: rgba(236, 0, 0, 0.5);
    padding: 35px;
    text-align: center;
}