.blogName {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.form input {
    margin-bottom: 12px;
    padding: 5px;
    width: 100%;
}

.add-post {
    width: 35%;
}

.btn-blog {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: 0.5s ease;
}

.btn-blog:hover{
    transform: scale(1.03);
}



.blog-container {
    display: flex;
    align-items: center;
    justify-content: center;
}